body {
    font-size:  19px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}

/* Headers */
h1, h3 {
    font-weight: 400;
}

h1 {
    font-size: 45px;
}

h3 {
    font-size: 24px;
    color: #CD5C5C;
    
    padding-top: 20px;
}

/* Links */
a, a:visited, a:hover, a:active {
    color: #CD5C5C;
}

/* Paragraphs */
p {
    line-height: 1.7;

    padding-top: 6px;
}

/* Nagivation */
#nav ul a, #nav ul a:visited {
    font-weight: 300;
    color: #888;
}

#nav ul a:hover, #nav ul a:active {
    text-decoration: none;
    color: #222;
}

/* Bootstrap */
@media (min-width:768px) {
    .container {
        margin-top: 80px;
    }
}
