body {
    font-size:  18px;
    font-family: 'Lato', sans-serif;
    color: #555;
}

/* Headers */
h1 {
    font-size: 45px;
    padding-bottom: 4px;
}

h3 {
    font-size: 28px;
    border-bottom: 1px solid #eee;
    padding-top: 20px;
    padding-bottom: 4px;
}

h4 {
    font-size: 20px;
    line-height: 1;
    padding-bottom: 4px;
}

/* Links */
a, a:visited, a:hover, a:active {
    color: #4F84C4;
}

/* Paragraphs */
p {
    line-height: 1.5;
    padding-top: 6px;
}

/* Nagivation */
#nav {
    padding-bottom: 4px;
}

#nav li {
   padding-right: 15px;
}

#nav ul a, #nav ul a:visited {
    color: #555;
}

#nav ul a:hover, #nav ul a:active {
    text-decoration: none;
    color: #222;
}

/* Bootstrap */
@media (min-width:768px) {
    .container {
        margin-top: 40px;
    }
}
