<h2>Hello!</h2>
<p>I am an undergraduate student pursuing a Bachelor of Science degree in Computer Science at George Mason University.</p>

<p>My primary interests include back-end web development (Python/Flask, C#/ASP.NET) and desktop application development (Java, C, C#). I will be publishing several of my projects online accessible through <a href="https://github.com/seanhelm">my Github account</a>.</p>

<p>When I’m not spending my time coding, I enjoy electronic music production, intramural sports, and reading.</p>
