<h2>Hello!</h2>
<p>I am an undergraduate student pursuing a Bachelor of Science degree
in Computer Science at George Mason University.</p>

<p>I have experience with back-end web and desktop application development.
I am also interested in the application of advanced technologies including
machine learning, natural language processing,
and big data. I will be publishing several of my projects online accessible
through <a href="https://github.com/seanhelm">my Github account</a>.</p>

<p>When I’m not spending my time coding, I enjoy electronic
music production, movie marathons, and reading horror stories.</p>
